<%= turbo_stream_from 'ingests' -%>

<div id="ingests">
  <h1>Ingests</h1>
  <%= link_to "Submit new job", new_ingest_path, id: 'new_ingest', class: 'btn btn-primary' %>

  <table>
    <thead>
      <tr>
        <th class='batch_id'>Job</th>
        <th class='owner'>Owner</th>
        <th class='manifest'>Manifest</th>
        <th class='report'>Report</th>
        <th class='status'>Status</th>
      </tr>
    </thead>
    <tbody><% @ingests.each do |ingest| %>
      <tr>
        <td class='batch_id'><%= ingest.id %> <%= link_to 'view', url_for(ingest) %> </td>
        <td class='owner'><%= ingest.user.display_name %></td>
        <td class='manifest'><%= link_to ingest.manifest.filename, rails_blob_path(ingest.manifest, disposition: "attachment") %></td>
        <td class='report'><%= render 'report', ingest: ingest %></td>
        <td class='status'><%= render 'status', ingest: ingest %></td>
      </tr>
    <% end %></tbody>
    <tfoot>
      <tr>
        <th class='batch_id'>Job</th>
        <th class='owner'>Owner</th>
        <th class='manifest'>Manifest</th>
        <th class='report'>Report</th>
        <th class='status'>Status</th>
      </tr>
    </tfoot>
  </table>
</div>
