<%= fields_for @config do |form| %>
  <%= form.hidden_field :solr_host %>
  <%= form.hidden_field :solr_version %>

  <div>
    <%= form.label :solr_host -%>
    <%= form.text_field :solr_host, disabled: @config.setup_step != 'host' -%>
    <% if @config.setup_step == 'host' %>
      <%= button_tag 'Verify Host', type: 'submit', id: 'verify_host' -%>
    <% else %>
      <%= button_tag '✓ Verified', type: 'button', disabled: true, id: 'verify_host' -%>
    <% end %>
  </div>
<% end %>
