<%= form_with(model: item, id: 'item_fields') do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :blueprint_id, style: "display: block" %>
    <%= form.collection_select :blueprint_id, Blueprint.order(:name), :id, :name, {}, {disabled: controller.action_name == 'edit'} %>
    <%= form.hidden_field :blueprint_id, value: item.blueprint_id %>
  </div>

  <%= fields_for :description, OpenStruct.new(item.description) do |item_detail| %>
    <% item.blueprint.fields.each do |field| %>
      <div>
        <%= item_detail.label field.name, style: "display: block" %>
        <% field_method = Field::TYPE_TO_HELPER[field.data_type] %>
        <%= item_detail.send(field_method, field.name) %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
