<%= form_with(model: item, scope: 'item', id: 'item_fields', class: 'item') do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :blueprint_id, style: "display: block" %>
    <%= form.hidden_field :blueprint_id, value: item.blueprint_id %>
    <%= form.collection_select :blueprint_id, Blueprint.order(:name), :id, :name, {}, {disabled: true} %>
  </div>

  <%= form.fields_for :metadata, OpenStruct.new(item.metadata) do |item_detail| %>
    <% item.blueprint.fields.each do |field| %>
      <div>
        <label>
          <%= field.name -%>
          <%= content_tag(:span, '(required)', class: 'required') if field.required -%>

          <% field_method = Field::TYPE_TO_HELPER[field.data_type] %>
          <% if field.multiple %>
            <% item_detail.object[field.name] ||= [nil] %>
            <% item_detail.object[field.name].each.with_index(1) do |value, index| %>
              <%= item_detail.send(field_method, field.name,
                                   value: value, id: item_detail.field_id(field.name, index),
                                   multiple: field.multiple, aria: {label: field.name + " #{index}",
                                                                    required: field.required}) %>
              <%= form.button t('t3.item.delete_entry', field: field.name, index: index), name: 'refresh', value: ['delete', field.name, index], class: 'delete_value' %>
            <% end %>
            <%= form.button t('t3.item.add_entry', field: field.name), name: 'refresh', value: ['add', field.name, -1], class: 'add_value' %>
          <% else %>
            <%= item_detail.send(field_method, field.name, multiple: field.multiple,
                                 aria: {label: field.name, required: field.required}) %>
          <% end %>
        </label>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
