<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this #{@item.class}", url_for([:edit, @item]) %> |
  <%= link_to "Back to #{@item.class.name.pluralize}", url_for(@item.class) %>

  <%= button_to "Destroy this #{@item.class}", @item, method: :delete, id: dom_id(@item, :delete) %>
</div>
