<p style="color: green"><%= notice %></p>

<%= render @blueprint %>

<div>
  <%= link_to "Edit this blueprint", edit_blueprint_path(@blueprint) %> |
  <%= link_to "Back to blueprints", blueprints_path %>

  <%= button_to "Destroy this blueprint", @blueprint, method: :delete %>
</div>
