<div id="<%= dom_id theme %>" class="theme">
  <div class="theme-label">
    <div class="field-label">Label:</div>
    <div class="field-value"><%= theme.label %></div>
  </div>

  <div class="theme-logo">
    <div class="field-label">Logo:</div>
    <div class="field-value"><%= theme.main_logo.blob&.filename %></div>
    <%= image_tag theme.main_logo if theme.main_logo.attached? %>
  </div>


  <div class="theme-site-name">
    <div class="field-label">Site name:</div>
    <div class="field-value"><%= theme.site_name %></div>
  </div>

  <div>
    <strong>Header color:</strong>
    <%= theme.header_color %>
  </div>

  <div>
    <strong>Header text color:</strong>
    <%= theme.header_text_color %>
  </div>

  <div>
    <strong>Background color:</strong>
    <%= theme.background_color %>
  </div>

  <div>
    <strong>Background accent color:</strong>
    <%= theme.background_accent_color %>
  </div>

</div>
