<div id="<%= dom_id theme %>">
  <p>
    <strong>Label:</strong>
    <%= theme.label %>
  </p>

  <p>
    <strong>Site name:</strong>
    <%= theme.site_name %>
  </p>

  <p>
    <strong>Header color:</strong>
    <%= theme.header_color %>
  </p>

  <p>
    <strong>Header text color:</strong>
    <%= theme.header_text_color %>
  </p>

  <p>
    <strong>Background color:</strong>
    <%= theme.background_color %>
  </p>

  <p>
    <strong>Background accent color:</strong>
    <%= theme.background_accent_color %>
  </p>

</div>
