<div id="<%= dom_id theme %>" class="theme">
  <span class="theme-label">
    <span class="field-label">Label:</span>
    <span class="field-value"><%= theme.label %></span>
  </span>

  <span class="theme-site-name">
    <span class="field-label">Site name:</span>
    <span class="field-value"><%= theme.site_name %></span>
  </span>

  <span>
    <strong>Header color:</strong>
    <%= theme.header_color %>
  </span>

  <span>
    <strong>Header text color:</strong>
    <%= theme.header_text_color %>
  </span>

  <span>
    <strong>Background color:</strong>
    <%= theme.background_color %>
  </span>

  <span>
    <strong>Background accent color:</strong>
    <%= theme.background_accent_color %>
  </span>

</div>
