<h1>Administration</h1>

<%= render partial: 'fields_form' %>

<%= render partial: 'solr_config' %>
<%= render partial: 'search_result_fields' %>
<%= render partial: 'single_item_fields' %>
<%= render partial: 'solr_index_fields' %>
