<%= form_for blueprint do |form| %>
  <% if blueprint.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blueprint.errors.count, "error") %> prohibited this blueprint from being saved:</h2>

      <ul>
        <% blueprint.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name == 'new' %>
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
  <% else %>
    <%= form.hidden_field :name %>
  <% end %>

  <div id="blueprint_fields">
    <table>
      <tr>
        <th class='name'>Name</th>
        <th class='solr_field'>Solr Field</th>
        <th class='searchable'>Searchable</th>
        <th class='facetable'>Facetable</th>
        <th class='list_view'>List <br/>View</th>
        <th class='item_view'>Item <br/>View</th>
        <th class='field_action'>Actions</th>
      </tr>

      <%# form.fields_for :fields do |field_form| %>
      <% blueprint.fields.each do |field| %>
      <%= form.fields_for 'fields[]', field do |field_form| %>
        <tr>
          <td class='name'><%= field_form.text_field :name %></td>
          <td class='solr_field_name'><%= field_form.text_field :solr_field_name %></td>
          <td class='searchable'><%= field_form.check_box :searchable %></td>
          <td class='facetable'><%= field_form.check_box :facetable %></td>
          <td class='list_view'><%= field_form.check_box :list_view %></td>
          <td class='item_view'><%= field_form.check_box :item_view %></td>
          <td class='field_action'>
            <%= form.button 'Delete', type: 'submit', name: 'manage_field[delete_field]', value: field_form.index, class: 'btn btn-sm btn-outline-danger' do %>
              <span class="btn-label bi bi-trash">Delete Field</span>
            <% end %>
          </td>
        </tr>
      <% end %>
        <% end %>
      <tr>
        <td class='field_number'></td>
        <td class='field_action'>
          <%= form.button 'Add Field', type: 'submit', name: 'manage_field[add_field]', value: 'add_field', class: 'btn btn-sm btn-outline-dark' do %>
            <span class="btn-label bi bi-plus-square">Add a Field</span>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <br/>
  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
