<div id="<%= dom_id @blueprint %>">
  <h1 class='blueprint_name'><%= @blueprint.name %></h1>
  <h4>Blueprint</h4>

  <div id="blueprint_fields">
    <table>
      <thead>
      <tr>
        <th class="name">Name</th>
        <th class="data_type">Data Type</th>
        <th class="source_field">Source</th>
        <th class="settings">Settings</th>
        <th class="solr_field">Indexes to</th>
      </tr>
      </thead>
      <tbody>
      <% @blueprint.fields.each do |field| %>
        <tr>
          <td class="name"><%= link_to field.name, field -%></td>
          <td class="data_type"><%= field.data_type -%><%= ' (multiple)' if field.multiple -%></td>
          <td class="source_field"><%= field.source_field -%></td>
          <td class="settings">
            <% settings = field.active ? ['active'] : ['disabled'] %>
            <% settings << ['required'] if field.required %>
            <% settings << ['list view'] if field.list_view %>
            <% settings << ['item view'] if field.item_view %>
            <% settings << ['searchable'] if field.searchable %>
            <% settings << ['facetable'] if field.facetable %>
            <%= settings.join(', ') -%>

          </td>
          <td class="solr_field"><%= field.solr_field %></td>
        </tr>
      <% end %>

      </tbody>
      <tfoot>
      <tr>
        <th class="name">Name</th>
        <th class="data_type">Data Type</th>
        <th class="source_field">Source</th>
        <th class="settings">Settings</th>
        <th class="solr_field">Indexes to</th>
      </tr>
      </tfoot>
    </table>
  </div>

  <div class='blueprint_actions'>
    <%= link_to edit_blueprint_path(@blueprint), id: dom_id(@blueprint, :edit), class: 'btn btn-success' do %>
      <span class='btn-label bi bi-pencil-square'>Edit</span>
    <% end %>
    <%= link_to blueprints_path, id: 'blueprints_index', class: 'btn btn-primary' do %>
      <span class='btn-label bi bi-list-task'>Back to Blueprints</span>
    <% end %>
    <%= button_to @blueprint, method: :delete, id: dom_id(@blueprint, :delete), class: 'btn btn-danger', form_class: 'blueprint_delete' do %>
      <span class="btn-label bi bi-trash">Delete</span>
    <% end %>
  </div>
</div>
