<%= form_with(model: vocabulary, class: 'card-body') do |form| %>
  <% if vocabulary.errors.any? %>
    <div class="validation_errors">
      <h2><%= pluralize(vocabulary.errors.count, "error") %> prohibited this vocabulary from being saved:</h2>

      <ul>
        <% vocabulary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_flex">
    <div class="form_buttons">
      <% if action_name == 'show' %>
        <%= link_to "Edit this vocabulary", edit_vocabulary_path(@vocabulary), class: 'edit-action btn btn-sm btn-outline-primary' %>
      <% end %>
    </div>

    <div class="form_fields">
      <fieldset <%= 'disabled' if controller.action_name == 'show' -%>>
        <div>
          <%= form.label :label %>
          <%= form.text_field :label %>
        </div>

        <div>
          <%= form.label :key %>
          <%= form.text_field :key %>
        </div>

        <div>
          <%= form.label :note %>
          <%= form.text_area :note %>
        </div>

        <% if action_name != 'show' %>
          <%= form.submit "Save changes", class: 'btn btn-primary' %><br>
          <%= link_to " Cancel changes", @vocabulary, class: 'cancel_action btn btn-sm btn-outline-info bi bi-x-square' %>
        <% end %>

      </fieldset>
    </div>

  </div>
<% end %>
