<h1>Role Details</h1>

<div id="<%= dom_id @role %>">
  <p>
    <strong>Name:</strong>
    <span class='role_name'><%= @role.name %></span>
  </p>

  <p>
    <strong>Description:</strong>
    <span class='role_description'><%= @role.description %></span>
  </p>

  <p>
    <strong>Users:</strong>
    <span class='role_users'>
      <%= @role.users.map(&:email).join(', ') -%>
      <% if @role.users.empty? %>
        <span class='fw-lighter fst-italic'>none</span>
      <% end %>
    </span>
  </p>

</div>

<div>
  <%= link_to "Edit this role", edit_role_path(@role) %> |
  <%= link_to "Back to roles", roles_path %>

  <%= button_to "Destroy this role", @role, method: :delete %>
</div>
