<% if @custom_domain.errors.any? %>
  <% other_errors = @custom_domain.errors.select{|e| e.attribute != :host}  %>
  <div class='errors'>
    <h2><%= pluralize(@custom_domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

    <ul>
      <% other_errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>

    <%# Potential hsot errors :format, :taken, :unresolvable, :certificate %>
    <% if @custom_domain.errors.where(:host, :format).present? %>
      <div id='format'>
        <p>The name you have supplied is incorrectly formatted.  Please check that you've entered the name
        correctly.  Domain names consist of a number of domain segments separated by periods and ending with
          a top-level domain like .com, .org. or .edu</p>

        <p>Examples:<br>
        <pre>
    my-host.subdomain.domain.org
    digital.libary.university.edu
        </pre></p>
      </div>

    <% elsif @custom_domain.errors.where(:host, :taken).present? %>
      <div id='taken'>
        <p>The name you have supplied is already being used.)</p>
      </div>

    <% elsif @custom_domain.errors.where(:host, :unresolvable).present? %>
      <div id='unresolvable'>
        <p>The name you have supplied cannot be resolved using DNS.  Please make sure that you have added the
          name as a CNAME entry pointing to <em><%= Certbot::V2::Client.default_host %></em> in your DNS zone.</p>
        <p>Example:<br>
        <pre>
    <%= @custom_domain.host.split('.').first %> CNAME <%= Certbot::V2::Client.default_host %>
        </pre></p>
      </div>

    <% elsif @custom_domain.errors.where(:host, :certificate).present? %>
      <div id='certificate'>
        <p>Certbot was unable to register your domain with Let's Encrypt.  The certbot error message was:<br>
        <pre>
<%= @custom_domain.certbot_client.last_error %>
        </pre></p>
      </div>
    <% end %>
  </div>
<% end %>
