<h1>Add Custom Hostname</h1>

<%= render 'error_instructions' %>

<%= form_with(model: @custom_domain) do |form| %>
  <div>
    <%= form.label :host, style: "display: block" %>
    <%= form.text_field :host, autofocus: true %>
  </div>

  <div>
    <%= form.submit 'Add new host' %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to custom domains", custom_domains_path %>
</div>
