<%= fields_for @config do |form| %>
  <div>
    <% if @config.setup_step != 'host' && @config.setup_step != 'core' %>
      <%= form.submit 'Update Fields', id: 'update_fields' -%>
      <table id='field_configs'>
        <thead>
          <tr>
            <td class='name'>Solr Field</td>
            <td class='enabled'>Enabled</td>
            <td class='label'>Label</td>
<!--            <td class='search'>Search</td>-->
            <td class='facet'>Facet</td>
            <td class='index'>List</td>
            <td class='show'>Item</td>
          </tr>
        </thead>
        <tbody>
        <%= form.fields_for :fields do |field_form| %>
            <tr id="<%= "fields_row_#{field_form.index}" -%>">
              <td class='name'><%= field_form.object.solr_field_name -%>
                <%= field_form.hidden_field :solr_field_name -%>
                <%= field_form.hidden_field :solr_suffix -%></td>
              <td class='enabled'><%= field_form.check_box :enabled -%></td>
              <td class='label'><%= field_form.text_field :display_label -%></td>
<!--              <td class='search'><%#= field_form.check_box :searchable -%></td>-->
              <td class='facet'><%= field_form.check_box :facetable -%></td>
              <td class='index'><%= field_form.check_box :search_results -%></td>
              <td class='show'><%= field_form.check_box :item_view -%></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <%= form.text_field :fields, disabled: true -%>
    <% end %>
  </div>
<% end %>
