<div id="<%= dom_id(@term) -%>" class="term">
    <h1 id="vocabulary_label"><%= link_to "Vocabularies", vocabularies_path %> > <%= @vocabulary.label -%></h1>
    <h2 id="term_label"><%= link_to "Terms", vocabulary_terms_path(@vocabulary) %> > <%= @term.label -%></h2>
  <%= render @term %>

  <div>
    <%= link_to "Edit this term", edit_term_path(@term) %> |
    <%= link_to "Back to vocabulary", @term.vocabulary %>

    <%= button_to "Destroy this term", [@term.vocabulary, @term], method: :delete %>
  </div>
</div>

