<h1>System Status</h1>

<h2>&nbsp;</h2>
<h3>Solr Status: <%= SolrService.current.solr_version.present? ? "connected" : "down" -%></h3>
<h3>Solr Version: <%= SolrService.current.solr_version -%></h3>
<h3>Users: <%= link_to(User.count, users_path) -%></h3>
<h3>Fields: <%= link_to(Field.count, fields_path) -%></h3>
<h3>Blueprints: <%= link_to(Blueprint.count,blueprints_path) -%></h3>


<%= link_to('Download Config', config_path(format: :json),
            id: 'export_config', class: 'btn btn-info btn-sm',
            download: "#{request&.host || 't3'}-#{Time.current.strftime("%Y%m%d%H%M%S")}.json") %>

<%= link_to('Import Config', edit_config_path,
            id: 'import_config', class: 'btn btn-outline-info btn-sm') %>
