<h1>Users</h1>

<div id="users">
  <table>
    <tr>
      <th class='display_name'>Display Name</th>
      <th class='email'>E-Mail</th>
      <th class='last_login'>Last Login</th>
      <th class='provider'>Type</th>
      <th class='pw_reset'>Password</th>
      <th class='roles'>Roles</th>
    </tr>
    <% @users.each do |user| %>
      <tr id='<%= dom_id user %>'>
        <td class='display_name'><%= user.display_name -%></td>
        <td class='email'><%= link_to user.email, user -%></td>
        <td class='last_login'><%= last_login(user) -%></td>
        <td class='provider'><%= user.provider -%></td>
        <td class='pw_reset'><%= link_to('Send Reset', user_password_reset_path(user), id: dom_id(user, :password_reset), data: { turbo_method: "post" }) if user.local? -%></td>
        <td class='roles'><%= user.roles.map(&:name).join(', ') -%></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "Invite New User", new_user_invitation_path, id: 'invite_user', class: 'btn btn-primary' %>
