<div id="<%= dom_id field %>">
  <p>
    <strong>Name:</strong>
    <%= field.name %>
  </p>

  <p>
    <strong>Blueprint:</strong>
    <%= field.blueprint_id %>
  </p>

  <p>
    <strong>Required:</strong>
    <%= field.required %>
  </p>

  <p>
    <strong>Multiple:</strong>
    <%= field.multiple %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= field.data_type %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= field.order %>
  </p>

</div>
