<%= form_with(model: field) do |form| %>
  <% if field.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
        <% field.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :blueprint_id, style: "display: block" %>
    <%= form.text_field :blueprint_id %>
  </div>

  <div>
    <%= form.label :required, style: "display: block" %>
    <%= form.check_box :required %>
  </div>

  <div>
    <%= form.label :multiple, style: "display: block" %>
    <%= form.check_box :multiple %>
  </div>

  <div>
    <%= form.label :data_type, style: "display: block" %>
    <%= form.number_field :data_type %>
  </div>

  <div>
    <%= form.label :order, style: "display: block" %>
    <%= form.number_field :order %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
